.thumbs.db
.Thumbs.db
.DS_Store
*~
Icon?
*.aux
*.log
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
.ipynb_checkpoints
__pycache__/
build/
dist/
package/
*synctex.gz*
*.egg-info/
*.egg
_.md
_doc
_pack
_tmp
calc
