# --------------------------------------------
# Folder with  auxiliary untracked information

_info_/

# ----------------
# OS service files

.thumbs.db
.Thumbs.db
.DS_Store

*~

# ------------
# Google drive

Icon?

# --------------------
# Python service files

__pycache__/
*synctex.gz*
*.egg-info/
*.egg
*.py[cod]
.ipynb_checkpoints

# ----------------------------
# Python package service files

build/
dist/

# -------------------
# Latex service files

*.aux
*.log
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk

# -------------------
# Javascript service files

# /dist
package-lock.json
node_modules
.quasar

# -------------------
# Various service files

*.sublime*
.idea/
.vscode/settings.json
