.thumbs.db
.Thumbs.db
.DS_Store
*~
Icon?
*.aux
*.log
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
.ipynb_checkpoints
__pycache__/
build/
dist/
package/
*synctex.gz*
*.egg-info/
*.egg
_tmp
demo/demo_result.png
demo/result/*
demo/test.py
doc/_build/*
dev/
_.md
